


/* =========================================
RESPONSIVE - CELULAR
========================================= */

@media (max-width: 900px) 
{}
.polaroid {
    position: relative;
    display: block;

    width: 150px;

    margin: 25px auto;

    transform: rotate(-5deg);
}

.polaroid img {
    width: 130px;
    height: 160px;
}

/* =========================================
CELULARES PEQUEÑOS
========================================= */

@media (max-width: 500px) {}
.inicio {
    padding: 45px 15px 70px;
}

.portada h1 {
    font-size: 52px;
}

.portada h2 {
    font-size: 29px;
}

.mini-titulo {
    font-size: 10px;
    letter-spacing: 3px;
}

.subtitulo {
    font-size: 13px;
    line-height: 1.7;
    margin: 22px 0;
}

.polaroid {
    width: 125px;
    padding: 7px 7px 12px;
    margin: 12px auto;
}

.polaroid img {
    width: 111px;
    height: 135px;
}

.polaroid p {
    font-size: 10px;
    margin-top: 7px;
}

.titulo-seccion h2 {
    font-size: 30px;
}

.carta-contenedor {
    padding: 30px 20px;
}

.carta-contenedor p {
    font-size: 15px;
}

.final h2 {
    font-size: 35px;
}
@media (max-width: 500px) {

    .polaroid {
        width: 125px;
        padding: 7px 7px 12px;
        margin: 12px auto;
    }

    .polaroid img {
        width: 111px;
        height: 135px;
    }

}